PORT=3001
SERVICE_NAME=api-gateway
SERVICE_ENCRYPTION_KEY=your_64_char_hex_key_here
SERVICE_TOKEN_EXPIRY_IN_SECONDS=300
SALT_ROUNDS=10
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRY=24h
SYSTEM_ADMIN_EMAIL=admin@flights.com
SYSTEM_ADMIN_PASSWORD=your_admin_password
BOOKING_SERVICE=http://localhost:3002
FLIGHT_CREATION_SERVICE=http://localhost:3003
FLIGHT_SEARCHING_SERVICE=http://localhost:3004
FLIGHT_BOOKING_SERVICE=http://localhost:3002
RABBITMQ_HOST=localhost
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
AIRLINE_ADMIN_REQ_QUEUE=airline-admin-req-queue
AIRLINE_ADMIN_RES_QUEUE=airline-admin-res-queue
DB_USERNAME=root
DB_PASSWORD=your_db_password
DB_NAME=flights_auth
DB_HOST=127.0.0.1
DB_DIALECT=mysql
NODE_ENV=development
