# Server
PORT=3004
NODE_ENV=development
LOG_LEVEL=info

# Service URLs
FLIGHT_BOOKING_SERVICE=http://localhost:3002
FLIGHT_CREATION_SERVICE=http://localhost:3003
API_GATEWAY=http://localhost:3001

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
