PORT=3002
API_GATEWAY=http://localhost:3001
NOTIFICATION_SERVICE=http://localhost:3005
FLIGHT_BOOKING_SERVICE=http://localhost:3002
FLIGHT_CREATION_SERVICE=http://localhost:3003
FLIGHT_SEARCHING_SERVICE=http://localhost:3004
RABBITMQ_HOST=localhost
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_QUEUE_NAME=notification-queue
DB_USERNAME=root
DB_PASSWORD=your_db_password
DB_NAME=flights_booking
DB_HOST=127.0.0.1
DB_DIALECT=mysql
NODE_ENV=development
